{%extends 'base.html'%}
{% block head %}
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/slide.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
{% endblock head %}

{%block body%}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="#">手机购物</a></li>
				<li class="interval">|</li>
				<li><a href="#">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">美容</a></li>
			<li><a href="#model02" class="seafood">生活</a></li>
			<li><a href="#model03" class="meet">保健</a></li>
			<li><a href="#model04" class="egg">玩具</a></li>
			<li><a href="#model05" class="vegetables">服饰</a></li>
			<li><a href="#model06" class="ice">宠粮</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.png" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.png" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">美容</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in fruit2%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list1_1_1" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.png"></div>
			<ul class="goods_list fl">
				{%for g in fruit%}
				<li>
					<!--images/goods/goods003.jpg-->
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">生活</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in fish2%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list2_1_1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.png"></div>
			<ul class="goods_list fl">
				{%for g in fish%}
				<li>
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">保健</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in meat%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list3_1_1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.png"></div>
			<ul class="goods_list fl">
				{%for g in meat2%}
				<li>
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">玩具</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in egg%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list4_1_1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.png"></div>
			<ul class="goods_list fl">
				{%for g in egg2%}
				<li>
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">服饰</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in vegetables%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list5_1_1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.png"></div>
			<ul class="goods_list fl">
				{%for g in vegetables2%}
				<li>
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">宠粮</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for g in frozen%}
				<a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a>
				{%endfor%}
			</div>
			<a href="/goods/list6_1_1" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner06.png"></div>
			<ul class="goods_list fl">
				{%for g in frozen2%}
				<li>
					<h4><a href="/goods/{{g.id}}">{{g.gtitle|slice:'10'}}...</a></h4>
					<a href="/goods/{{g.id}}"><img src="/static/{{g.gpicture}}"></a>
					<div class="prize">¥{{g.gprice}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
{%endblock body%}


{%block foot%}
<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京petShop信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
</body>
</html>
{%endblock foot%}